<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dbn %><br>
    <%= f.text_field :dbn %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :boro %><br>
    <%= f.text_field :boro %>
  </div>
  <div class="field">
    <%= f.label :building %><br>
    <%= f.text_field :building %>
  </div>
  <div class="field">
    <%= f.label :starting_grade %><br>
    <%= f.text_field :starting_grade %>
  </div>
  <div class="field">
    <%= f.label :finishing_grade %><br>
    <%= f.text_field :finishing_grade %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :total_students %><br>
    <%= f.number_field :total_students %>
  </div>
  <div class="field">
    <%= f.label :school_type %><br>
    <%= f.text_field :school_type %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
