<p id="notice"><%= notice %></p>

<div class="clearfix">
  <div id="map-canvas"></div>

<div id="info">
<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Boro:</strong>
  <%= @school.boro %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Starting grade:</strong>
  <%= @school.starting_grade %>
</p>

<p>
  <strong>Finishing grade:</strong>
  <%= @school.finishing_grade %>
</p>

<p>
  <strong>Total students:</strong>
  <%= @school.total_students %>
</p>

<p>
  <strong>Website:</strong>
  <a href="<%= @school.website %>"><%= @school.website %></a>
</p>

<p>
  <strong>School type:</strong>
  <%= @school.school_type %>
</p>

<p>
  <strong>School Quality:</strong>
  <%= @school.performance.quality_review %>
</p>
</div>
</div>

<div class="clearfix">

<div id="graph1">
<div class="button-bar">
  <ul class="button-group round">
    <li class="small button secondary">School On Track</li>
    <li class="small button secondary">School Grad Rate</li>
    <li class="small button secondary">School College Rate</li>
  </ul>
</div>
<svg class="chart" id="performance"></svg>
</div>

<div id="graph2">
<div class="button-bar">
  <ul class="button-group round">
    <li class="small button secondary">Major Crimes</li>
    <li class="small button secondary">Other Crimes/Incidents</li>
  </ul>
</div>
<svg class="chart" id="safety"></svg>
</div>

</div>
<%= link_to 'Back', schools_path %>


<script type="text/javascript">
  $(document).ready(function(){
    initialize(<%=raw @school.to_json%>)
    setPerformanceVariables(<%=raw @school_performance.to_json%>)
    createSafetyVariables(<%=raw @school_safety.to_json%>)
  })
</script>