<p id="notice"><%= notice %></p>

<p>
  <strong>Dbn:</strong>
  <%= @performance.dbn %>
</p>

<p>
  <strong>On track 2013:</strong>
  <%= @performance.on_track_2013 %>
</p>

<p>
  <strong>Grad rate 2013:</strong>
  <%= @performance.grad_rate_2013 %>
</p>

<p>
  <strong>College rate 2013:</strong>
  <%= @performance.college_rate_2013 %>
</p>

<p>
  <strong>Student satisfaction:</strong>
  <%= @performance.student_satisfaction %>
</p>

<p>
  <strong>On track 2012:</strong>
  <%= @performance.on_track_2012 %>
</p>

<p>
  <strong>Grad rate 2012:</strong>
  <%= @performance.grad_rate_2012 %>
</p>

<p>
  <strong>College rate 2012:</strong>
  <%= @performance.college_rate_2012 %>
</p>

<p>
  <strong>Student satisfation 2012:</strong>
  <%= @performance.student_satisfation_2012 %>
</p>

<p>
  <strong>On track sim schools:</strong>
  <%= @performance.on_track_sim_schools %>
</p>

<p>
  <strong>Grad rate sim schools:</strong>
  <%= @performance.grad_rate_sim_schools %>
</p>

<p>
  <strong>College rate sim schools:</strong>
  <%= @performance.college_rate_sim_schools %>
</p>

<p>
  <strong>Student satisfaction sim schools:</strong>
  <%= @performance.student_satisfaction_sim_schools %>
</p>

<p>
  <strong>Quailty review:</strong>
  <%= @performance.quailty_review %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
