<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "NYC Schools DB" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic" %>
  </head>

  <body>
  <header>
  <div class="sticky">
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">NYC High School DB</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
          <li><%=link_to "All Boros", schools_path%></li>
          <li><%=link_to "Manhattan", schools_path(:boro => "Manhattan")%></li>
          <li><%=link_to "Brooklyn", schools_path(:boro => "Brooklyn")%></li>
          <li><%=link_to "Bronx", schools_path(:boro => "Bronx")%></li>
          <li><%=link_to "Queens", schools_path(:boro => "Queens")%></li>
          <li><%=link_to "Staten Island", schools_path(:boro => "Staten Island")%></li>
    </ul>
  </section>
</nav>
</div>
  </header>
    <%= yield %>

  </body>
</html>
